<!DOCTYPE html>
<html>
<head>
  <title>Demoable</title>
  <%= stylesheet_link_tag    "demoable/application", :media => "all" %>
  <%= javascript_include_tag "demoable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
